@import "bootstrap";

body {
  background-color: #3332540a;
}

.navbar {
  background-color: #333254 !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 100px;
}

.jumbotron {
  background-image: asset-url('backimg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
  height: 525px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-left: 10%;
  margin-right:10%;
}

#innertext {
  padding: 30px;
  background-color: rgba(51, 50, 84, 0.2);
  opacity: 1.0;
  color: oldlace;
  text-shadow: 2px 2px 4px #1e1f29;
  width: 100%;
  height: 100%;
  font-weight: 300;
}

#innertext p {
  font-size: 24px;
  font-weight: bolder;
}

#innertext h1 {
  margin-top: 25px;
}

.theme {
  margin-top: 50px;
  background-color: #5b663b;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #343a40;
  color: #fff;
}

/* Other Classes for Page Styling */

#formdiv {
  background-color: #333254;
}

.alert {
  position: relative;
}

.btn-close1 {
  position: absolute;
  top: 0;
  right: 0;
}

.button-group
{
    display:flex;
    justify-content: center;
    align-items: center;
}/*Pagination Styling */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

    .btn
    {
      margin:2px
    }