<div id="page-content">
<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  

  <div id="formdiv" class="row justify-content-center shadow p-3 mb-3 bg-body rounded">
    <div class="col-10">
      <%= render 'form'%>
    </div>
  </div>

  <br>
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <%= link_to '[Cancel and return to Category]', category_path(@category) %>
    </div>
  </div>
</div>


</div>